/* SECTION NICOLAS */

.nicolas_row{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.nicolas_imga{
    height: 100%;
}
.nicolas_imgb{
    height: 100%;
}
.nicolas_imgc{
    height: 100%;
}
.nicolas_imgd{
    height: 100%;
}