button {
    font-size: large;
    cursor: pointer;
    padding: 15px;
    background-color: rgb(92, 91, 91);
    border: none;
}
form input{
    width: 40%;
    padding: 15px;
}
footer{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
   font-size: xx-large;
   transition: transform .2s;
}
footer a :hover{
    transform: scale(1.5);
}
footer a {
    color: gray;
    text-decoration: none;
}